section.css
{
    text-align: center;

}
h1.css{
    background-color: lightseagreen;
}
button.css{
    text-decoration-color: black;
    background-color: aliceblue;
}
.menu bar ul{
    display: inline flex;
    list-style: none;
    color: aliceblue;
    
}
.menu bar ul li{
    width: 120px;
    margin:15px;
    padding: 15px;
}
button.css{
    border-color: aqua;
    text-color:aqua;
}